@import './base.css';
@font-face {
  font-family: Nimbus;
  src: url(../fonts/TAN-NIMBUS.ttf);
}


#app {
  max-width: 100vw;
  font-weight: normal;
}

.title {
  font-family: Nimbus;
  font-size: 6rem;
  text-shadow: 1px 1px 2px rgb(77, 77, 77);
  text-align: center;
}

.section-title {
  font-family: Nimbus;
  font-size: 5rem;
  text-shadow: 1px 1px 2px rgb(77, 77, 77);
  text-align: center;
}

.subtitle {
  font-size: 3rem;
  text-shadow: 1px 1px 1px rgb(77, 77, 77);
}

.body {
  font-size: 1.5rem;
}

@keyframes slide-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

@keyframes slide-up {
  from {
    margin-top: 100%;
  }
  to {
    margin-top: 0%;
  }
}

@keyframes slide-down {
  from {
    margin-top: -100%;
  }
  to {
    margin-top: 0%;
  }
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 25%, 0.2);
  }
}

@media (max-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  .title {
    font-size: 6rem;
  }

  .section-title {
    font-size: 4rem;
  }

  .body {
    font-size: 1.25rem;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
